# ======================================================================
# Git configuration
# If you have an existing config, you might want to merge/copy it here
# ======================================================================
